SAF-T/SAF-T_DK_Simplified.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Simplified Danish SAF-T Financial Schema (Demo Version)
  Based on: Danish SAF-T Financial Data v1.0 (Erhvervsstyrelsen / OECD SAF-T v2)
  Target Namespace: urn:StandardAuditFile-Taxation-Financial:DK
  Purpose: VAT Assessment Demo for SKAT
  NOTE: This is a simplified schema for demo purposes.
        The official XSD is available at erhvervsstyrelsen.dk
-->
<xs:schema
  xmlns="urn:StandardAuditFile-Taxation-Financial:DK"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="urn:StandardAuditFile-Taxation-Financial:DK"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified"
  version="1.0"
  id="SAF-T-DK">

  <!-- ============================================================ -->
  <!--  SIMPLE TYPE DEFINITIONS                                     -->
  <!-- ============================================================ -->

  <!-- Monetary amount: up to 18 digits, 2 decimal places -->
  <xs:simpleType name="SAFmonetaryType">
    <xs:restriction base="xs:decimal">
      <xs:totalDigits value="18"/>
      <xs:fractionDigits value="2"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Short text up to 18 characters -->
  <xs:simpleType name="SAFshorttextType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="18"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Medium text up to 35 characters -->
  <xs:simpleType name="SAFmiddle1textType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Long text up to 256 characters -->
  <xs:simpleType name="SAFlongtextType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="256"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- CVR number: exactly 8 digits (Danish company identifier) -->
  <xs:simpleType name="CVRNumberType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{8}"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- ISO 4217 currency code -->
  <xs:simpleType name="ISOCurrencyCodeType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{3}"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- ISO 3166-1 alpha-2 country code -->
  <xs:simpleType name="ISOCountryCodeType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{2}"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Tax type: VAT (Moms) or other -->
  <xs:simpleType name="TaxTypeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="VAT"/>
      <xs:enumeration value="OTHER"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Standard Danish VAT codes per SAF-T DK code list -->
  <xs:simpleType name="StandardVatCodeType">
    <xs:restriction base="xs:string">
      <!-- Standard 25% VAT (Standardsats) -->
      <xs:enumeration value="1"/>
      <!-- Reduced rate (not currently active in DK but reserved) -->
      <xs:enumeration value="2"/>
      <!-- Zero-rated / exempt with deduction -->
      <xs:enumeration value="3"/>
      <!-- Exempt without deduction -->
      <xs:enumeration value="4"/>
      <!-- Reverse charge -->
      <xs:enumeration value="5"/>
      <!-- EU acquisition -->
      <xs:enumeration value="6"/>
      <!-- Import VAT -->
      <xs:enumeration value="7"/>
      <!-- Other / non-standard -->
      <xs:enumeration value="99"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- ============================================================ -->
  <!--  COMMON COMPLEX TYPES                                        -->
  <!-- ============================================================ -->

  <!-- Address structure (used for Company, Customer, Supplier) -->
  <xs:complexType name="AddressType">
    <xs:sequence>
      <xs:element name="StreetName"      type="SAFmiddle1textType" minOccurs="0"/>
      <xs:element name="AdditionalInfo"  type="SAFmiddle1textType" minOccurs="0"/>
      <xs:element name="PostalCode"      type="SAFshorttextType"   minOccurs="0"/>
      <xs:element name="City"            type="SAFmiddle1textType" minOccurs="0"/>
      <xs:element name="Country"         type="ISOCountryCodeType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Company info block -->
  <xs:complexType name="CompanyHeaderType">
    <xs:sequence>
      <xs:element name="RegistrationNumber" type="CVRNumberType"/>
      <xs:element name="Name"               type="SAFlongtextType"/>
      <xs:element name="Address"            type="AddressType"     minOccurs="0"/>
      <xs:element name="TaxRegistration">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="TaxRegistrationNumber" type="CVRNumberType"/>
            <xs:element name="TaxType"               type="SAFshorttextType"/>
            <xs:element name="TaxAuthority"          type="SAFmiddle1textType" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- ============================================================ -->
  <!--  MASTER FILE TYPES                                           -->
  <!-- ============================================================ -->

  <!-- Single tax table entry -->
  <xs:complexType name="TaxCodeDetailsType">
    <xs:sequence>
      <xs:element name="TaxCode"            type="SAFshorttextType"/>
      <xs:element name="Description"        type="SAFlongtextType"    minOccurs="0"/>
      <xs:element name="TaxType"            type="TaxTypeType"/>
      <xs:element name="StandardTaxCode"    type="StandardVatCodeType"/>
      <xs:element name="Country"            type="ISOCountryCodeType" minOccurs="0"/>
      <xs:element name="TaxPercentage"      type="xs:decimal"         minOccurs="0"/>
      <xs:element name="FlatTaxRate"        minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Amount"   type="SAFmonetaryType"/>
            <xs:element name="Currency" type="ISOCurrencyCodeType" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- Customer master record -->
  <xs:complexType name="CustomerType">
    <xs:sequence>
      <xs:element name="CustomerID"             type="SAFmiddle1textType"/>
      <xs:element name="AccountID"              type="SAFmiddle1textType"  minOccurs="0"/>
      <xs:element name="CustomerTaxID"          type="SAFmiddle1textType"  minOccurs="0"/>
      <xs:element name="CompanyName"            type="SAFlongtextType"     minOccurs="0"/>
      <xs:element name="BillingAddress"         type="AddressType"         minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Supplier master record -->
  <xs:complexType name="SupplierType">
    <xs:sequence>
      <xs:element name="SupplierID"             type="SAFmiddle1textType"/>
      <xs:element name="AccountID"              type="SAFmiddle1textType"  minOccurs="0"/>
      <xs:element name="SupplierTaxID"          type="SAFmiddle1textType"  minOccurs="0"/>
      <xs:element name="CompanyName"            type="SAFlongtextType"     minOccurs="0"/>
      <xs:element name="BillingAddress"         type="AddressType"         minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <!-- ============================================================ -->
  <!--  SOURCE DOCUMENT TYPES (Invoice Lines + Tax)                 -->
  <!-- ============================================================ -->

  <!-- Tax information on an invoice line -->
  <xs:complexType name="TaxInformationType">
    <xs:sequence>
      <xs:element name="TaxType"        type="TaxTypeType"/>
      <xs:element name="TaxCode"        type="SAFshorttextType"/>
      <xs:element name="TaxPercentage"  type="xs:decimal"       minOccurs="0"/>
      <xs:element name="TaxBase"        type="SAFmonetaryType"  minOccurs="0"/>
      <xs:element name="TaxAmount">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Amount"          type="SAFmonetaryType"/>
            <xs:element name="CurrencyCode"    type="ISOCurrencyCodeType" minOccurs="0"/>
            <xs:element name="CurrencyAmount"  type="SAFmonetaryType"     minOccurs="0"/>
            <xs:element name="ExchangeRate"    type="xs:decimal"          minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- A single line on a sales or purchase invoice -->
  <xs:complexType name="InvoiceLineType">
    <xs:sequence>
      <xs:element name="LineNumber"       type="xs:integer"/>
      <xs:element name="AccountID"        type="SAFmiddle1textType"   minOccurs="0"/>
      <xs:element name="ProductCode"      type="SAFmiddle1textType"   minOccurs="0"/>
      <xs:element name="Description"      type="SAFlongtextType"      minOccurs="0"/>
      <xs:element name="Quantity"         type="xs:decimal"           minOccurs="0"/>
      <xs:element name="UnitOfMeasure"    type="SAFshorttextType"     minOccurs="0"/>
      <xs:element name="UnitPrice"        type="SAFmonetaryType"      minOccurs="0"/>
      <xs:element name="TaxPointDate"     type="xs:date"              minOccurs="0"/>
      <xs:element name="Description2"     type="SAFlongtextType"      minOccurs="0"/>
      <xs:element name="InvoiceLineAmount">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Amount"         type="SAFmonetaryType"/>
            <xs:element name="CurrencyCode"   type="ISOCurrencyCodeType" minOccurs="0"/>
            <xs:element name="CurrencyAmount" type="SAFmonetaryType"     minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="TaxInformation"   type="TaxInformationType"   minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Sales or Purchase invoice header -->
  <xs:complexType name="InvoiceType">
    <xs:sequence>
      <xs:element name="InvoiceNo"        type="SAFmiddle1textType"/>
      <xs:element name="CustomerID"       type="SAFmiddle1textType"   minOccurs="0"/>
      <xs:element name="SupplierID"       type="SAFmiddle1textType"   minOccurs="0"/>
      <xs:element name="Period"           type="xs:integer"/>
      <xs:element name="PeriodYear"       type="xs:integer"/>
      <xs:element name="InvoiceDate"      type="xs:date"/>
      <xs:element name="InvoiceType"      type="SAFshorttextType"     minOccurs="0"/>
      <xs:element name="SpecialCircumstances" type="SAFmiddle1textType" minOccurs="0"/>
      <xs:element name="SystemID"         type="SAFmiddle1textType"   minOccurs="0"/>
      <xs:element name="GLPostingDate"    type="xs:date"              minOccurs="0"/>
      <xs:element name="TransactionID"    type="SAFmiddle1textType"   minOccurs="0"/>
      <xs:element name="Line"             type="InvoiceLineType"      minOccurs="1" maxOccurs="unbounded"/>
      <xs:element name="DocumentTotals">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="TaxInformationTotals" type="TaxInformationType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="NetTotal"   type="SAFmonetaryType"/>
            <xs:element name="GrossTotal" type="SAFmonetaryType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- ============================================================ -->
  <!--  ROOT ELEMENT: AuditFile                                     -->
  <!-- ============================================================ -->

  <xs:element name="AuditFile">
    <xs:complexType>
      <xs:sequence>

        <!-- HEADER -->
        <xs:element name="Header">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="AuditFileVersion"     type="SAFshorttextType"/>
              <xs:element name="AuditFileCountry"     type="ISOCountryCodeType"/>
              <xs:element name="AuditFileDateCreated" type="xs:date"/>
              <xs:element name="SoftwareCompanyName"  type="SAFlongtextType"   minOccurs="0"/>
              <xs:element name="SoftwareID"           type="SAFlongtextType"   minOccurs="0"/>
              <xs:element name="SoftwareVersion"      type="SAFshorttextType"  minOccurs="0"/>
              <xs:element name="Company"              type="CompanyHeaderType"/>
              <xs:element name="DefaultCurrencyCode"  type="ISOCurrencyCodeType"/>
              <xs:element name="SelectionStartDate"   type="xs:date"/>
              <xs:element name="SelectionEndDate"     type="xs:date"/>
              <xs:element name="HeaderComment"        type="SAFlongtextType"   minOccurs="0"/>
              <xs:element name="FiscalYear"           type="SAFshorttextType"  minOccurs="0"/>
              <xs:element name="NumberOfParts"        type="xs:integer"        minOccurs="0"/>
              <xs:element name="PartNumber"           type="xs:integer"        minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <!-- MASTER FILES -->
        <xs:element name="MasterFiles" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <!-- Tax Table (critical for VAT assessment) -->
              <xs:element name="TaxTable" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="TaxTableEntry" type="TaxCodeDetailsType"
                                minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <!-- Customers -->
              <xs:element name="Customers" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Customer" type="CustomerType"
                                minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <!-- Suppliers -->
              <xs:element name="Suppliers" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Supplier" type="SupplierType"
                                minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <!-- SOURCE DOCUMENTS -->
        <xs:element name="SourceDocuments" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <!-- Sales Invoices (Output VAT) -->
              <xs:element name="SalesInvoices" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="NumberOfEntries"  type="xs:integer"     minOccurs="0"/>
                    <xs:element name="TotalDebit"       type="SAFmonetaryType" minOccurs="0"/>
                    <xs:element name="TotalCredit"      type="SAFmonetaryType" minOccurs="0"/>
                    <xs:element name="Invoice"          type="InvoiceType"
                                minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <!-- Purchase Invoices (Input VAT) -->
              <xs:element name="PurchaseInvoices" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="NumberOfEntries"  type="xs:integer"      minOccurs="0"/>
                    <xs:element name="TotalDebit"       type="SAFmonetaryType" minOccurs="0"/>
                    <xs:element name="TotalCredit"      type="SAFmonetaryType" minOccurs="0"/>
                    <xs:element name="Invoice"          type="InvoiceType"
                                minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
